<h1>My products</h1>

<ul>
  <% @products.each do |product|  %>
    <li> <%= product.name %></li>
    <li><%= product.size %></li>
    <% product.prices.each do |price| %>
      <li><%= price.currency %></li>
      <li><%= price.value %></li>
    <% end %>
  <% end %>
</ul>

<%= link_to "Add a product", new_user_product_path(@products) %>
